<div class="row">
	<main class="col-md-12">



		<!-- Start your code here -->
		
		<h1>This is the About page</h1>
		<p>This site was created by Alect Prasad <br> 101977239 <br> WEB700ZBB</p>
		<!-- End your code here  -->



	</main>
</div>